* {
    box-sizing: border-box;
  }
  body {
    padding: 1rem;
  }
  
  /* Just for the fallback layout */
  
  main {
    max-width: 500px;
    margin: 0 auto;
  }
  article {
    margin: 1rem 0;
  }
  header {
    font-family: Avenir, Roboto, Helvetica, san-serif; 
    /* font-size: 120%; */
    text-align: center;
  }
  
  /* Now lets do a Grid-based layout */
  
  @supports (display: grid) {
    main { 
      max-width: 10000px;
      margin: 0;
    }
    article {
      margin: 0;
    }
    .stats-layout {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      /* grid-template-columns: ; */
      grid-gap: 1rem;
    }
    .container{
      display: grid;
      grid-template-columns:  minmax(300px, 1fr));
      /* grid-template-columns: ; */
      grid-gap: 1rem;
  }
    
  .stats-layout {
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
    font-size: 80%;
  }
  .stats-item {
    display: flex;
    flex-flow: column;
    border:  1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    /* grid-area: asd; */
  }
  .stats-item > h1 {
    /* margin: 1rem 1rem 0;
    
    background: teal;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;*/
    font-size: 1.2rem;
    /* text-align: center;  */
  }
  .stats-item > ul {
    margin: 0 0 1rem;
   
  }
  
  .stats-item li{
    list-style: none;
    font-size: 1.2rem;
    padding: 2%;
  }
  .stats-item h8{
    font-size: 75%;
  }
/* set up a change in backgroup for whole line item rather that just text from <a> tag  */
  .stats-item li:hover{
    background-color: #4f81bd;
    color:white;
  }
  /* Remove the underline link  this is so I can set up a hover to change the background and colour*/
  .stats-item a{
    text-decoration: none
  }
  .stats-item>a:hover{
    /* background-color: yellow; */
    color:white;
  }
  .stats-item > p {
    margin: 0.25em 1rem 1rem;
  }
  /* .stats-item > img {
    order: -1;
    align-self: center;
  } */
  /* .stats-item > button {
    margin-top: auto; 
    background: teal;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem; 
  }*/
  .header header img {
    float: left;
    width: 100px;
    height: 150px;
    background: #555;
    margin-left: 100px;
  }
  
  .header  h1 {
    position: relative;
    top: 18px;
    left: 10px;
    height: 150px;
  }
body {
	/* font-family: 'Open Sans', sans-serif;
	background: #2c3e50; */
    /* width: 80%; */
    margin-left: 10%;
    margin-right: 10%;
}
nav{
	position: relative;
	/* margin: 270px auto 0; */
	/* width: 590px; */
	height: 50px;
	background: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}
/* nav ul li{
    dec;
} */

.logo{
    grid-area: Logo;
    position: relative;
    object-fit:scale-down;
    /* float: left;
    width:248px;*/
    height:248px; 
}

 /* table in grid for archive history of stats  */
 tr td{
     text-align: center;
     font-size: 1.5rem;
 }
 th{
     font-size: 1rem;
 }
 th:first-child {
   text-align: left;
 }
td> a:hover{
    background: #4f81bd;
    color:#da9f1b;
}
td:hover{
    background: #4f81bd;
}

/* front page of the web site  */
/* .container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
.frontPage{
  display: grid;
  grid-template-areas: 
  "Logo fphd" 
  "News News"
  "asd Melbage";

  grid-template-columns: repeat(300px, minmax(300px, 1fr));
  grid-template-rows: 250px;
  /* grid-template-columns: ; */
  grid-gap: 1rem;
  font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
    font-size: 100%
   
}
 /* user flex box to control the sizing of the screen for the main body of the front page  */
.fpmain{
  /* display: flex; */

}
/* frint page header grid container  */
.fphd{
  grid-area: fphd;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  
}
 /* side bar menu option for front page  */
.asd{
  grid-area: asd;
}
.asd>ul{
  list-style: none;
  margin-left: 0%;
  padding-inline-start: 0%;
}
.asd>li{
  margin-left: 0%;
}
.asd li:hover{
  background-color: #4f81bd;
  color:white;
}
.asd a{
  text-decoration: none
}
.asd a:hover{
  color:white;
}
/* front page news page  */
.News{
  grid-area: News;
  text-align: center;
  color: red;
  
}
/* melbage information  */
.Melbage{
  grid-area: Melbage;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
/* @media(min-witdh:400px){
  .container{
    flex-direction: row;
  }
} */
.footer{
  background-color: #4f81bd;
  text-align: center;
  color: white;
}
.footer a{
  text-decoration: none;
  color: white;
}