/* CSS file for Years stats                                             */
/* Author: Paul Carter                                                */
/* Created 24 June 2022                                               */

/* This is the default able used to display info. All tables should use this until they find a need to move away. Then the classID will match the page name*/
table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    
  }
  .t1 td {
    padding: 4px 8px;
    text-align: center;
  }
  .t1 th {
    padding: 4px 8px;
    text-align: left;
    border-right: 1px solid black;
  }
  .t1 thead th {
    background: #4f81bd;
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
    color: #fff;
  }
  .t1 tr {
    /* border-right: 1px solid #95b3d7; */
  }
  .t1 tbody tr {
    /* border-bottom: 1px solid #95b3d7; */
  }
  .t1 tbody{
    border: 1px solid black;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
  /* .t1 tbody th, .t1 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
  } */
  .t1 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: yellow;
  }
.t1 td:nth-child(3), .t1 td:nth-child(4) {
    text-align: left;
  } 
  
/* use clear line hen you want to breck up row in the ssme table  */
.clearline td{
    background-color: white;
    padding-top: 10px;
    border-left: #fff;
    border-right: 1px #fff;
    
    height: 30px;
}
.statsindex
{	
text-align: center;
font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
}

table.statsindex 
{	
    table-layout: auto;
    border: solid 2px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}
.statsindex td {
    width:25% ;
    align-content: center; 
    /* height:"31"; */
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
    font-weight: bold;
    font-size: 2ex;
    border: solid 1px;
    /* border-style: inherit; */
}
.statsindex tr{
    min-height: 10px;
    border: solid 1px;
width: 100%;
}
.statsindex th {
    /* width:"100%" ;  */
    column-span: all;
    text-align: center; 
    height: 31px;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';

}
.statsindex caption {
    padding: 1px;
    caption-side: bottom;
}
table.stats-item thead th{
color: black;

}

p{
    text-align: center;
}
h1{
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
}
h2{
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
}
h3{
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
}
h4{
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
    height: 31px;
}


/* Used to format the handicaps.html page  */
table.handicaps{
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
    border: 1px solid black;  
    padding: 1px;
    text-align: center;
}
.handicaps thead ,th {
    background: #4f81bd;
    text-transform: capitalize;
    /* text-align: left; */
    font-size: 15px;
    color: #fff;
    padding: 5px;
  }

tfoot.handicaps   {
    background: #4f81bd;
    text-transform: capitalize;
    /* text-align: left; */
    font-size: 15px;
    color: #fff;
    padding: 5px;
  }

/* make sure that players name is algined to :left */
.handicaps tbody td:nth-child(1) {
    text-align: left;
    padding: 5px;
    
  }
.handicaps tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
    


/* .Handicaps caption {
    padding: 1px;
    caption-side: bottom;
} */

/* Used to format the handicaps.html page  */
table.tourstats{
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
    border: 1px solid black;  
    padding: 1px;
    text-align: center;
}
.tourstats thead ,th {
    background: #4f81bd;
    text-transform: capitalize;
    /* text-align: left; */
    font-size: 15px;
    color: #fff;
    padding: 5px;
    border-right: 1px solid black;
  }

/* make sure that players name is algined to :left */
.tourstats tbody td:nth-child(2) {
    text-align: left;
    padding: 5px;
    
  }
.tourstats tbody tr:nth-child(odd) {
    /* background: #dbe5f0; */
  } 

.tourstats tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: #FFDB58;
  }
/* Colours used on TourStats to show if a play has Qualified. Different colours to keep with row colours 
 *class are as follows RowDark,RowLight,QualifiedDark and QualifiedLight set in the table row 
*/
tr.RowDark{
  background: #bad9fb;
}
tr.RowLight{
  background: #f2f7fc;
}
tr.QualifiedDark{
  background-color: #FFDB58;

  /* background-color: #fdfd00;  #FFDB58 #FFBF00*/
}
tr.QualifiedLight{
  background-color: lemonchiffon;
  background-color: #fbfbbf;
}

article{
    align-content: center;
    text-align: center;
}
header{
    text-align: center;
    
}
/* Scorecard table formating */
table.scorecard{
    margin: 1em auto;
    border-collapse: collapse;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;  
    padding: 1px;
    text-align: center;
    /* text-orientation: sideways-left */
}
.scorecard tbody td {
    border-right: 1px solid;
    padding: 2px;
}
.scorecard tbody tr {
    border-bottom: 1px solid;
    padding: 2px;
}
/* From the 8th line in table colour the Par column */
.scorecard tbody tr:nth-child(n+8) td:nth-child(2){
    border-left: 2px solid black;
    background: #FFFF99;
    font-weight: bold;
  }
  /* From the 8th line in table colour the Stoke index column  */
.scorecard tbody tr:nth-child(n+8) td:nth-child(3){
    border-right: 2px solid black;
    background: #FFFF99;
    color :red;
    font-weight: bold;
  }
  /* From the 8th line in table colour the point column */
  .scorecard tbody tr:nth-child(n+8) td:nth-child(4){
    border-right: 2px solid black;
    background: #CCFFFF;
    /* color :red;
    font-weight: bold; */
  }
  /* From the 8th line in table colour the Green in Reg column */
  .scorecard tbody tr:nth-child(n+8) td:nth-child(9){
    border-right: 2px solid black;
    background: #CCFFFF;
    /* color :red;
    font-weight: bold; */
  }
  /* make the 1st  column bold */
  .scorecard tbody  td:nth-child(1){
    /* border-right: 2px solid black;
    background: lightskyblue; */
    /* color :red; */
    font-weight: bold;
  }
  /* make the heading for game stats in bold */
  .scorecard tbody tr:nth-child(5) {
    border-top: 3px solid black;
    border-bottom: 0px;
    font-weight: bold; 
  }
  /* make the header for score card bold and text rotated */
  .scorecard tbody tr:nth-child(7) td:nth-child(n+1){
    border-top: 3px solid black;
    /* line-height: 50px; */
    border: 3px solid black;
    transform: rotate(-90deg) translate(-5%);
    /* text-align: left; */
    /* padding-block: 1px; */
    font-weight: bold;
    /* margin-bottom: 0em; */
    /* white-space: nowrap; */
    padding: 5% 0;
  /* height: 0; */
  align-content: center;
  margin: 5px;
  /* transform-origin: top left; */
  }
  /* last line in table which has the totals */
  .scorecard tbody tr:nth-last-child(1) {
    font-weight: bold;
    border-top: double 3px black;

  }
    

  /* players name */
  .t2 Caption{
    color:blue;
    text-align: left;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;

  }
/* Formatting for months.html table */
table.months {
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  
}
.months td {
  padding: 4px 8px;
  text-align: center;
}
.months th {
  padding: 4px 8px;
  text-align: left;
  border-right: 1px solid black;
  background: #4f81bd;
}
.months thead th {
  background: #4f81bd;
  /* text-transform: capitalize; */
  text-align: left;
  font-size: 15px;
  color: #fff;
  transform: rotate(-90deg) translate(-5%);
}
.months tr {
  /* border-right: 1px solid #95b3d7; */
}
.months tbody tr {
  /* border-bottom: 1px solid #95b3d7; */
}
.months tbody{
  border: 1px solid black;
}
.months tbody tr:nth-child(odd) {
  background: #dbe5f0;
}
/* .t1 tbody th, .t1 tbody tr:nth-child(even) td {
  border-right: 1px solid #95b3d7;
} */
.months tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  color: yellow;
}
.months td:nth-child(3), .t1 td:nth-child(4) {
  text-align: left;
} 

main {
  max-width: 700px;
  margin: 0 auto;
}
article {
  margin: 1rem 0;
}

/* Now lets do a Grid-based layout */

@supports (display: grid) {
  main { 
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .Honourboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1rem;
    /* background-image: url(../images/honourboardWood.png) */
  }
}
  
.Honourboard {
  font-family: Avenir, Roboto, Helvetica, san-serif; 
  font-size: 100%;
  color:gold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}
.honour_events {
  display: flex;
  flex-flow: column;
  border:  10px solid #2e2701;
  border-radius: 1rem;
  padding: 2rem;
  /* background-image: url(../images/honourboardWoodGray.png); */
  background-image: url(../images/cartboard.jpg); 
  /* repeat center center; */
  /* background-color: brown; */
  /* background-color: #e5e5f7; */
    /* opacity: 0.2; */
/* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0%, #473b02 20px ), repeating-linear-gradient( #473b01, tan ); */
/* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0%, black 5px ), repeating-linear-gradient(black, silver); */
  /* background-size:100%; */
  /* back  ; */
  font-family:Tahoma, Geneva, Verdana, sans-serif,'Segoe UI';
  font-size: large;
  /* color:black */
}
.honour_events > h1 {
  margin: 1rem 1rem 0;
}
.honour_events > ul {
  margin: 0 0 1rem;
}
.honour_events > p {
  margin: 0.25em 1rem 1rem;
}
.honour_events > img {
  order: -1;
  align-self: center;
  /* background-image: url(../images/honourboardWood.png); */
  
  /* size-adjust: 100%; */

}
/* .honour_events > button {
  margin-top: auto; 
  background: teal;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
} */
table .honour_events{
  margin: 1em auto;
  border-collapse: collapse;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:Avenir, Roboto, Helvetica, san-serif;  
  border: 1px solid black;
  
}
.honour_events > td {
  padding: 4px 8px;
  text-align: center;
}
.honour_events >table ,th {
  padding: 2px 8px;
  text-align: left;
  font-size: 20px;
  /* border-right: 1px solid black; */
}
.honour_events thead, th {
  /* background: #4f81bd; */
  text-transform: capitalize;
  text-align: left;
  font-size: 20px;
  background: none;
  border-right: none;
  /* color: #fff; */
}

.honour_events caption{
  text-transform: uppercase;
}
.honour_events tbody{
  border: 1px solid black;
  color: black ;
  /* text-shadow: black 1px; */
  text-shadow: none;
  font-weight: bold;
}
/* .honour_events tbody tr:nth-child(odd) {
  background: #dbe5f0;
} */
/* .t1 tbody th, .t1 tbody tr:nth-child(even) td {
  border-right: 1px solid #95b3d7;
} */
/* .honour_events tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  color: yellow;
} */
.honour_events td:nth-child(3), .honour_events td:nth-child(2) {
  text-align: left;
} 

/* Melbage players stats table */

table.MelbagePlayerRecord {
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  
}
.MelbagePlayerRecord td {
  padding: 4px 8px;
  text-align: center;
  border: 1px solid black;
}
.MelbagePlayerRecord th {
  padding: 4px 8px;
  text-align: left;
  border-right: 1px solid black;
}
.MelbagePlayerRecord thead th {
  background: #4f81bd;
  text-transform: capitalize;
  text-align: left;
  font-size: 15px;
  color: #fff;
}
/* tbody.MelbagePlayerRecord tbody{
  border: 1px solid black;
} */
.MelbagePlayerRecord.RowLight{
  background: #f2f7fc;
}
.MelbagePlayerRecord.RowDark{
  background: #bad9fb;
}
.MelbagePlayerRecord.QualifiedDark{
  background: yellow;
}
table.stats-index  thead, th{
  color: black
}
